h3.sbp-emphasize {
    color: #FA5148;
}
img.sbp-sp {
    float: left;
    margin-right: 20px;
}
p.description-link {
    margin-top: -5px;
}

.wrap .sb-pack .welcome-panel .welcome-panel-column:first-child {
	display: block !important;
}

.wrap .sb-pack .welcome-panel h4 {
	margin: 1.33em 0 20px;
}

.wrap .sb-pack .sbp-inline-wrap {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

.wrap .sb-pack .sbp-more-width {
	width: 300px;
}

.wrap .sb-pack input[type="text"] {
	line-height: 1.3;
}

.wrap .sb-pack .sbp-all-enqueued {
	background-color: #FCFCFC;
	padding:  5px 0px 10px;
	border: 1px solid #ddd;
	width: auto;
}

.wrap .sb-pack .sbp-width {
	min-width: 200px;
	width: auto;
	padding: 0 20px;
}

.wrap .sb-pack .sbp-title-scripts {
	min-width: 200px;
	width: auto;
	display: inline-block;
	font-weight: 700;
	padding: 0 20px;
}

.wrap .sb-pack #poststuff h2 {
	font-size: 32px;
	padding: 9px 15px 20px 0px;
	font-weight: 700;
	line-height: 1.3;
}

.wrap .sb-pack #poststuff .main-sbp-title h3 {
	font-size: 24px;
	padding: 8px 0 20px;
	font-weight: 700;
	color: #FA5148;
}

.wrap .sb-pack .handlediv {
	color: #80828F;
	padding: 10px 0 0;
	cursor: pointer;
}

.wrap .sb-pack .meta-box-sortables .postbox .handlediv:before {
	right: 20px;
	font: 400 30px/1.2 'dashicons';
	padding: 8px 0;
}

.wrap .sb-pack .meta-box-sortables .postbox .handlediv:before {
	content: "\f343";
}

.wrap .sb-pack .meta-box-sortables .postbox.closed .handlediv:before {
	content: "\f347";
}

.wrap .sb-pack .postbox .inside {
	padding: 0 20px 20px;
}

.postbox {
	position: relative;
	overflow: hidden;
}
.wrap .sb-pack #poststuff .inside {
	margin: 26px 0 0;
}

.wrap .sb-pack #poststuff h3{
	font-size: 24px;
	padding: 8px 20px;
	font-weight: 700;
	display: inline-block;
}

.wrap .sb-pack .sbp-columns1 {
	display: inline-block;
}

.wrap .sb-pack .sbp-columns2 {
	display: inline-block;
	max-width: 73%;
}

.wrap .sb-pack .sbp-title-div {
	height: 50px;
	clear: both;
}

.wrap .sb-pack .sbp-amount {
	background-color: transparent;
	border: medium none;
	box-shadow: none;
	font-size: 16px;
}

.wrap .sb-pack .sbp-slider {
	width: 40%;
}

.wrap .sb-pack p {
	color: #464646;
	line-height: 1.6;
}
.wrap .sb-pack p.sp-link {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.wrap .sb-pack .debug-info {
	margin-top: 19px;
	border: 1px solid #1A9E51;
	padding: 17px 10px;
	background-color: #2DCB73;
	color: #FFF;
	font-size: 16px;
	line-height: 1.6;
	text-shadow: 1px 1px #1A9E51;
}

.wrap .sb-pack .td-margin {
	margin: 1.5em 0 1.5em;
}

.wrap .sb-pack .sbp-div-head {
	border-bottom: 1px solid #E1E1E1;
	margin:0 0 5px;
	padding: 0 0 5px;
}

.wrap .sb-pack .td-border {
	border-bottom: 1px solid #E1E1E1;
	margin: 10px 0;
}

.wrap .sb-pack .td-border-last {
	border-bottom: 1px solid #E1E1E1;
	margin: 1.5em 0;
}

.wrap .sb-pack .sbp-radio-content {
	display: block;
}

.wrap .sb-pack .sbp-radio-content label {
	display: block !important;
}

.wrap .sb-pack .sbp-box  hr {
	margin-left: 70px;
}

.wrap .sb-pack .sbp-1 {
	padding-top: 10px;
}

.wrap .sb-pack .sbp-2 {
	padding-bottom: 15px;
}

.wrap .sb-pack .sbp-3 {
	padding-top: 5px;
}

.wrap .sb-pack .sbp-title-div .sbp-title {
	font-size: 23px;
	font-weight: 300;
	line-height: 26px;
	padding-top: 16px;
	padding-right: 15px;
	display: block;
	float: left;
}

.wrap .sb-pack .sbp-box {
	background:#fff;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 15px;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.wrap .sb-pack .sbp-box p {
	margin: 5px 0 5px 70px;
	color: #777;
}

.wrap .sb-pack .sbp-infos {
	display: block;
	margin: 0 auto;
	padding-left: 70px;
	font-weight: 700;
	color:#777;
}

.wrap .sb-pack .sbp-infos span {
	color: #777;
	font-weight: 400;
}

.wrap .sb-pack .sbp-infos-title {
	font-weight: 700;
	color: #777;
}

.wrap .sb-pack .sbp-box-legend, .wrap .sb-pack .sbp-box-version {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.wrap .sb-pack .sbp-box-version {
	background: none repeat scroll 0% 0% #80828F;
	padding: 20px 15px;
}

.wrap .sb-pack .sbp-box-legend {
	background: none repeat scroll 0% 0%  #FCC500;
	padding: 15px 15px;
}

.wrap .sb-pack .sbp-box-legend:hover {
	background-color: #F39C12;
}

.wrap .sb-pack .sbp-box-version:hover {
	background-color: #6C6E79;
}

.wrap .sb-pack .sbp-icon-help, .wrap .sb-pack .sbp-icon-version {
	color:#FFF;
	font-size:25px;
}

.wrap .sb-pack .sbp-icon:before {
	content: "\f185";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 36px/0.6 'dashicons';
	vertical-align: sub;
	color: #FA5148;
	padding-right: 5px;
}

.wrap .sb-pack .sbp-icon-information:before {
	content: "\f348";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 28px/1 'dashicons';
	vertical-align: middle;
	color: #C9D6E2;
	padding-right: 5px;
}

.wrap .sb-pack label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 35px;
	font-size: 16px;

}

/*.wrap .sb-pack #sbp-css-content {
	display: none;
	}*/

	.wrap .sb-pack label:before {
		content: "\2717";
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		color: #fff;
		display: inline-block;
		width: 26px;
		height: 26px;
		margin-right: 10px;
		position: absolute;
		left: 0;
		background: #C9D6E2;
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		border: 1px solid #B2BFCA;
	}

	.wrap .sb-pack input[type=checkbox],
	.wrap .sb-pack input[type=radio] {
		display: none;
	}

/*.wrap .sb-pack .sbp-radio-content label:before {
	content: "\2630";
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 1.4;
	margin-right: 10px;
	position: absolute;
	left: 0;
	background: #C9D6E2;
	border: 1px solid #9CA8B3;
}

.wrap .sb-pack input[type=radio]:checked + label:before {
	content: "\2630";
	background: none repeat scroll 0% 0% #2DCB73;
	text-align: center;
	font-weight: 700;
	color: #fff;
	border: 1px solid #1A9E51;
	} */

	.wrap .sb-pack input[type=checkbox]:checked + label:before {
		content: "\2714";
		background: #2DCB73;
		text-shadow: 1px 1px 1px #148D44;
		border: 1px solid #1A9E51;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		color: #fff;
		text-align: center;
	}

	.wrap .sb-pack .sbp-icon-version:before {
		content: "\f348";
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 30px/1 'dashicons';
		vertical-align: top;
	}

	.wrap .sb-pack .sbp-icon-help:before {
		content: "\f123";
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 30px/1 'dashicons';
		vertical-align: top;
	}

	.wrap .sb-pack .sbp-stats {
		font-size: 16px;
		line-height: 1.5;
	}

/* Jquery UI slider
-------------------------------------------------------------- */

.wrap .sb-pack.ui-state-default,
.wrap .sb-pack .ui-widget-content .ui-state-default,
.wrap .sb-pack .ui-widget-header .ui-state-default {
	border:1px solid #1A9E51;
	background-color:#2DCB73;
	font-weight:400;
	color:#555;
	outline:0 none;
	cursor:pointer;
}
.wrap .sb-pack .ui-state-default:before,
.wrap .sb-pack .ui-widget-content .ui-state-default:before,
.wrap .sb-pack .ui-widget-header .ui-state-default:before {
	content:"\2630";
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	color:#fff;
	font-weight:700;
	text-shadow:0 1px #1A9E51;
	line-height: 1.8em;
}

.wrap .sb-pack .ui-state-default a,
.wrap .sb-pack .ui-state-default a:link,
.wrap .sb-pack .ui-state-default a:visited {
	color:#fff;
	text-decoration:none;
}

.wrap .sb-pack .ui-state-focus,
.wrap .sb-pack .ui-state-hover,
.wrap .sb-pack .ui-widget-content .ui-state-focus,
.wrap .sb-pack .ui-widget-content .ui-state-hover,
.wrap .sb-pack .ui-widget-header .ui-state-focus,
.wrap .sb-pack .ui-widget-header .ui-state-hover {
	background:#3CE281;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-top,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-tl {
	border-top-left-radius: 0;
}
.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-top,
.wrap .sb-pack .ui-corner-right,
.wrap .sb-pack .ui-corner-tr {
	border-top-right-radius: 0;
}
.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-bl {
	border-bottom-left-radius: 0;
}
.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-right,
.wrap .sb-pack .ui-corner-br {
	border-bottom-right-radius: 0;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-bl {
	border-bottom-left-radius: 0;
}

.wrap .sb-pack .ui-slider-horizontal {
	height:1.3em;
}

.wrap .sb-pack .ui-slider .ui-slider-handle {
	width:1.8em;
	height:1.8em;
	cursor:pointer;
	text-align:center;
}

.wrap .sb-pack .ui-widget-content {
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	border:1px solid #B2BFCA;
	background:#F1F2F7;
	color:#222
}
/* Progress Bars
-------------------------------------------------------------- */
.wrap .sb-pack .sbp-progress.time,
.wrap .sb-pack .sbp-progress.queries {
	height: 30px;
	width: 77%;
	display: inline-block;
	position: relative;
	background-color: #F1F2F7;
	overflow: hidden;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.wrap .sbp-progress.time > span,
.wrap .sbp-progress.queries > span  {
	background-color: #7EDBA5;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7EDBA5),color-stop(1, #2DCB73));
	background-image: -webkit-linear-gradient(top, #7EDBA5, #2DCB73);
	background-image: -moz-linear-gradient(top, #7EDBA5, #2DCB73);
	background-image: -ms-linear-gradient(top, #7EDBA5, #2DCB73);
	background-image: -o-linear-gradient(top, #7EDBA5, #f36d0a);
	color:#fff;
	width: 0%;
	max-width: 98%;
	float: left;
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.wrap .sb-pack .sbp-progress.time > span {
	-webkit-animation: progress-bar-time 2s 1 forwards;
	-moz-animation: progress-bar-time 2s 1 forwards;
	-ms-animation: progress-bar-time 2s 1 forwards;
	-o-animation: progress-bar-time 2s 1 forwards;
	animation: progress-bar-time 2s 1 forwards;

}

.wrap .sb-pack .sbp-progress.queries > span {
	-webkit-animation: progress-bar-queries 2s 1 forwards;
	-moz-animation: progress-bar-queries 2s 1 forwards;
	-ms-animation: progress-bar-queries 2s 1 forwards;
	-o-animation: progress-bar-queries 2s 1 forwards;
	animation: progress-bar-queries 2s 1 forwards;

}

.wrap .sb-pack .sbp-values {
	float: right;
	padding: 0 5px;
	background-color: #1AB4EF;
	color: #fff;
	width: 18%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0px -2px #1AB4EF;
}

.wrap .sb-pack .sbp-numbers {
	-webkit-animation: opacity 2s; /* Safari and Chrome */
	-moz-animation: opacity 2s; /* Firefox */
	-ms-animation: opacity 2s; /* Internet Explorer */
	-o-animation: opacity 2s; /* Opera */
	animation: opacity 2s;
	transition-delay: 2s;
	-moz-transition-delay: 2s; /* Firefox 4 */
	-webkit-transition-delay: 2s; /* Safari and Chrome */
	-o-transition-delay: 2s; /* Opera */
	font-size: 16px;
}

@keyframes opacity {
	from { opacity:0; }
	to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes opacity {
	from { opacity:0; }
	to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes opacity {
	from { opacity:0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes opacity {
	from { opacity:0; }
	to   { opacity: 1; }
	}​

	/* Opera */
	@-o-keyframes opacity {
		from { opacity:0; }
		to   { opacity: 1; }
		}​

		@media screen and (max-width: 783px) {
			.wrap .sb-pack input.regular-text {
				width: 14em;
			}
		}

		@media screen and (min-width: 784px) {
			.wrap .sb-pack input.regular-text {
				width: 45em;
			}
		}

/* Feedback Box */
.feedback-box {
    border: 1px dashed #555;
    background: #fff;
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
}
.feedback-box .button.button-feedback {
    padding: 10px 40px;
    height: initial;
}

#sab-current-image img {
  max-width: 130px;
  height: auto;
}
.feedback-box h3 {
    font-weight: 700;
}
.feedback-box h3 > img {
  width: 30px;
}
.feedback-box > p {
    max-width: 720px;
    margin: 0 auto;
}