/* `border-box`... ALL THE THINGS! */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.sb-pack-show {
	display: block;
}

.sb-pack-hide {
	display: none;
}

h3.sbp-emphasize {
	color: #fa5148;
}

img.sbp-sp {
	float: left;
	margin-right: 20px;
}

p.description-link {
	margin-top: -5px;
}

.wrap .sb-pack .welcome-panel .welcome-panel-column:first-child {
	display: block !important;
}

.wrap .sb-pack .welcome-panel h4 {
	margin: 1.33em 0 20px;
}

.wrap .sb-pack .sbp-inline-wrap {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

.wrap .sb-pack .sbp-more-width {
	width: 300px;
}

.wrap .sb-pack .sbp-all-enqueued {
	background-color: #fcfcfc;
	padding: 5px 0px 10px;
	border: 1px solid #ddd;
	width: auto;
}

.wrap .sb-pack .sbp-width {
	min-width: 200px;
	width: auto;
	padding: 0 20px;
}

.wrap .sb-pack .sbp-title-scripts {
	min-width: 200px;
	width: auto;
	display: inline-block;
	font-weight: 700;
	padding: 0 20px;
}

.wrap .sb-pack .sbp-columns1 {
	display: inline-block;
}

.wrap .sb-pack .sbp-columns2 {
	display: inline-block;
	max-width: 73%;
}

.wrap .sb-pack .sbp-title-div {
	height: 50px;
	clear: both;
}

.wrap .sb-pack .sbp-amount {
	background-color: transparent;
	border: medium none;
	box-shadow: none;
}

.wrap .sb-pack .sbp-slider {
	width: 40%;
}

.wrap .sb-pack p {
	color: #464646;
}

.wrap .sb-pack p.sp-link {
	text-align: center;
	margin-bottom: 20px;
}

.wrap .sb-pack .td-margin {
	margin: 1.5em 0 1.5em;
}

.wrap .sb-pack .sbp-div-head {
	border-bottom: 1px solid #e1e1e1;
	margin: 0 0 5px;
	padding: 0 0 5px;
}

.wrap .sb-pack .td-border {
	border-bottom: 1px solid #e1e1e1;
	margin: 10px 0;
}

.wrap .sb-pack .td-border-last {
	border-bottom: 1px solid #e1e1e1;
	margin: 1.5em 0;
}

.wrap .sb-pack .sbp-radio-content {
	display: block;
}

.wrap .sb-pack .sbp-radio-content label {
	display: block !important;
}

.wrap .sb-pack .sbp-box hr {
	margin-left: 70px;
}

.wrap .sb-pack .sbp-1 {
	padding-top: 10px;
}

.wrap .sb-pack .sbp-2 {
	padding-bottom: 15px;
}

.wrap .sb-pack .sbp-3 {
	padding-top: 5px;
}

.wrap .sb-pack .sbp-title-div .sbp-title {
	font-weight: 300;
	line-height: 26px;
	padding-top: 16px;
	padding-right: 15px;
	display: block;
	float: left;
}

.wrap .sb-pack .sbp-box {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 15px;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.wrap .sb-pack .sbp-box p {
	margin: 5px 0 5px 70px;
	color: #777;
}

.wrap .sb-pack .sbp-infos {
	display: block;
	margin: 0 auto;
	padding-left: 70px;
	font-weight: 700;
	color: #777;
}

.wrap .sb-pack .sbp-infos span {
	color: #777;
	font-weight: 400;
}

.wrap .sb-pack .sbp-infos-title {
	font-weight: 700;
	color: #777;
}

.wrap .sb-pack .sbp-box-legend, .wrap .sb-pack .sbp-box-version {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.wrap .sb-pack .sbp-box-version {
	background: none repeat scroll 0% 0% #80828f;
	padding: 20px 15px;
}

.wrap .sb-pack .sbp-box-legend {
	background: none repeat scroll 0% 0% #fcc500;
	padding: 15px 15px;
}

.wrap .sb-pack .sbp-box-legend:hover {
	background-color: #f39c12;
}

.wrap .sb-pack .sbp-box-version:hover {
	background-color: #6c6e79;
}

.wrap .sb-pack .sbp-icon-help, .wrap .sb-pack .sbp-icon-version {
	color: #fff;
}

.wrap .sb-pack .sbp-icon:before {
	content: "\f185";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 36px/0.6 'dashicons';
	vertical-align: sub;
	color: #fa5148;
	padding-right: 5px;
}

.wrap .sb-pack .sbp-icon-information:before {
	content: "\f348";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 28px/1 'dashicons';
	vertical-align: middle;
	color: #c9d6e2;
	padding-right: 5px;
}

.wrap .sb-pack .sbp-icon-version:before {
	content: "\f348";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 'dashicons';
	vertical-align: top;
}

.wrap .sb-pack .sbp-icon-help:before {
	content: "\f123";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 'dashicons';
	vertical-align: top;
}

/* Jquery UI slider
-------------------------------------------------------------- */

.wrap .sb-pack.ui-state-default,
.wrap .sb-pack .ui-widget-content .ui-state-default,
.wrap .sb-pack .ui-widget-header .ui-state-default {
	border: 1px solid #1a9e51;
	background-color: #2dcb73;
	font-weight: 400;
	color: #555;
	outline: 0 none;
	cursor: pointer;
}

.wrap .sb-pack .ui-state-default:before,
.wrap .sb-pack .ui-widget-content .ui-state-default:before,
.wrap .sb-pack .ui-widget-header .ui-state-default:before {
	content: "\2630";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px #1a9e51;
	line-height: 1.8em;
}

.wrap .sb-pack .ui-state-default a,
.wrap .sb-pack .ui-state-default a:link,
.wrap .sb-pack .ui-state-default a:visited {
	color: #fff;
	text-decoration: none;
}

.wrap .sb-pack .ui-state-focus,
.wrap .sb-pack .ui-state-hover,
.wrap .sb-pack .ui-widget-content .ui-state-focus,
.wrap .sb-pack .ui-widget-content .ui-state-hover,
.wrap .sb-pack .ui-widget-header .ui-state-focus,
.wrap .sb-pack .ui-widget-header .ui-state-hover {
	background: #3ce281;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-top,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-tl {
	border-top-left-radius: 0;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-top,
.wrap .sb-pack .ui-corner-right,
.wrap .sb-pack .ui-corner-tr {
	border-top-right-radius: 0;
}

.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-bl {
	border-bottom-left-radius: 0;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-right,
.wrap .sb-pack .ui-corner-br {
	border-bottom-right-radius: 0;
}

.wrap .sb-pack .ui-corner-all,
.wrap .sb-pack .ui-corner-bottom,
.wrap .sb-pack .ui-corner-left,
.wrap .sb-pack .ui-corner-bl {
	border-bottom-left-radius: 0;
}

.wrap .sb-pack .ui-slider-horizontal {
	height: 1.3em;
}

.wrap .sb-pack .ui-slider .ui-slider-handle {
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
	text-align: center;
}

.wrap .sb-pack .ui-widget-content {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border: 1px solid #b2bfca;
	background: #f1f2f7;
	color: #222
}

/* Progress Bars
-------------------------------------------------------------- */
.wrap .sb-pack .sbp-progress.time,
.wrap .sb-pack .sbp-progress.queries {
	height: 30px;
	width: 77%;
	display: inline-block;
	position: relative;
	background-color: #f1f2f7;
	overflow: hidden;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.wrap .sbp-progress.time > span,
.wrap .sbp-progress.queries > span {
	background-color: #7edba5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7edba5), color-stop(1, #2dcb73));
	background-image: -webkit-linear-gradient(top, #7edba5, #2dcb73);
	background-image: -moz-linear-gradient(top, #7edba5, #2dcb73);
	background-image: -ms-linear-gradient(top, #7edba5, #2dcb73);
	background-image: -o-linear-gradient(top, #7edba5, #f36d0a);
	color: #fff;
	width: 0%;
	max-width: 98%;
	float: left;
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.wrap .sb-pack .sbp-progress.time > span {
	-webkit-animation: progress-bar-time 2s 1 forwards;
	-moz-animation: progress-bar-time 2s 1 forwards;
	-ms-animation: progress-bar-time 2s 1 forwards;
	-o-animation: progress-bar-time 2s 1 forwards;
	animation: progress-bar-time 2s 1 forwards;
}

.wrap .sb-pack .sbp-progress.queries > span {
	-webkit-animation: progress-bar-queries 2s 1 forwards;
	-moz-animation: progress-bar-queries 2s 1 forwards;
	-ms-animation: progress-bar-queries 2s 1 forwards;
	-o-animation: progress-bar-queries 2s 1 forwards;
	animation: progress-bar-queries 2s 1 forwards;
}

.wrap .sb-pack .sbp-values {
	float: right;
	padding: 0 5px;
	background-color: #1ab4ef;
	color: #fff;
	width: 18%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0px -2px #1ab4ef;
}

.wrap .sb-pack .sbp-numbers {
	-webkit-animation: opacity 2s; /* Safari and Chrome */
	-moz-animation: opacity 2s; /* Firefox */
	-ms-animation: opacity 2s; /* Internet Explorer */
	-o-animation: opacity 2s; /* Opera */
	animation: opacity 2s;
	transition-delay: 2s;
	-moz-transition-delay: 2s; /* Firefox 4 */
	-webkit-transition-delay: 2s; /* Safari and Chrome */
	-o-transition-delay: 2s; /* Opera */
}

@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Firefox */
@-moz-keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

​

/* Opera */
@-o-keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

​

@media screen and (max-width: 783px) {
	.wrap .sb-pack input.regular-text {
		width: 14em;
	}
}

@media screen and (min-width: 784px) {
	.wrap .sb-pack input.regular-text {
		width: 45em;
	}
}

/* Feedback Box */
.feedback-box {
	border: 1px dashed #555;
	background: #fff;
	width: 100%;
	padding: 40px;
	text-align: center;
	margin-top: 15px;
	box-sizing: border-box;
}

.feedback-box .button.button-feedback {
	padding: 10px 40px;
	height: initial;
}

#sbp-current-image img {
	max-width: 130px;
	height: auto;
}

.feedback-box h3 {
	font-weight: 700;
}

.feedback-box h3 > img {
	width: 30px;
}

.feedback-box > p {
	max-width: 720px;
	margin: 0 auto;
}

/* sbp-tooltips */
/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition: opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	width: 360px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 1);
	color: #fff;
	content: attr(data-tooltip);
	line-height: 1.75;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}

.tooltip-left:before {
	margin-left: 0;
	margin-right: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #000;
	border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}

.tooltip-bottom:before {
	margin-top: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #000;
	border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform: translateY(12px);
	transform: translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
	bottom: 50%;
	left: 100%;
}

.tooltip-right:before {
	margin-bottom: 0;
	margin-left: -12px;
	border-top-color: transparent;
	border-right-color: #000;
	border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform: translateX(12px);
	transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
	top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}

/* ShortPixel Banner Styling */
.sbp-recommended-plugins {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin-top: 1em;
}

.sbp-recommended-plugins h3 {
	margin: 0 0 15px 0;
}

.sbp-recommended-plugins .sbp-recommended-plugin {
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 2em 1em;
}

.sbp-recommended-plugins .sbp-recommended-plugin:nth-child( even ) {
	background-color: #fcfcfc;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.sbp-recommended-plugins .sbp-recommended-plugin .plugin-image {
	width: 128px;
}

.sbp-recommended-plugins .sbp-recommended-plugin .plugin-information {
	padding-left: 30px;
	box-sizing: border-box;
	width: calc(100% - 128px);
}

.sbp-recommended-plugins .sbp-recommended-plugin .plugin-information .plugin-name,
.sbp-recommended-plugins .sbp-recommended-plugin .plugin-information .plugin-description {
	margin: 0;
}

.sbp-recommended-plugins .sbp-recommended-plugin .plugin-information .plugin-description {
	margin-bottom: 10px;
}

.sbp-recommended-plugins .sbp-recommended-plugin .sbp-plugin-button.sbp-updating:before {
	font: normal 20px/1 dashicons;
	display: inline-block;
	content: "\f463";
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
	margin: 3px 5px 0 -2px;
	vertical-align: top;
}

/* Welcome Logo*/
.wp-badge.sbp-welcome-logo {
	background-color: #fff;
	background-image: url(../inc/images/icon-128x128.jpg);
	background-position: center center;
	background-size: 70%;
	background-repeat: no-repeat;
	padding-top: 160px;
}

/* Support Page */
.center-support {text-align: center;}

/* Fast as a rabbit, slow as a snail box */
.sbp-fast-as-a-rabbit {
	background-color: #fff;
	width: 100%;
	border-radius: 5px;
	position: relative;
	margin: 15px auto;
}

.sbp-fast-as-a-rabbit > div {
	display: inline-block;
	border-right: 1px solid #f3f3f3;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
}

.sbp-fast-as-a-rabbit > div > i {margin-right: 8px;}

.sbp-fast-as-a-rabbit > div > span { font-weight: bold;}

/*
.sbp-fast-as-a-rabbit > div:last-of-type .button {border-radius: 5px;}

.sbp-fast-as-a-rabbit > div:last-of-type .button-secondary { color: #9a9a9a;}

.sbp-fast-as-a-rabbit > div:last-of-type .button-primary {padding-left: 20px; padding-right: 20px;}

.sbp-fast-as-a-rabbit > div:last-of-type .dashicons {
	vertical-align: middle;
	height: 24px;
}

.sbp-fast-as-a-rabbit > div:last-of-type {
	text-align: right;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -26px;
}

*/

.sbp-fast-as-a-rabbit > div:nth-of-type(4),
.sbp-fast-as-a-rabbit > div:nth-of-type(5) {
	border-right: 0;
}

/* Progress bars */
.sbp-fast-as-a-rabbit progress {
	margin-left: 8px;
}

.sbp-progress-bar {
	padding: 5px;
}

.sbp-progress-bar progress {
	background-color: #f3f3f3;
	border: 1px solid #ececec;
	border-radius: 9px;
	margin-right: 8px;
}

.sbp-progress-bar progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	border-radius: 9px;
}

.sbp-progress-bar progress::-webkit-progress-value {
	background: green;
	border-radius: 9px;
}

.sbp-progress-bar progress::-moz-progress-bar {
	background: green;
	border-radius: 9px;
}

.sbp-progress-bar progress.sbp-progress-red::-webkit-progress-value {background: red;}

.sbp-progress-bar progress.sbp-progress-red::-moz-progress-bar {background: red;}

.sbp-progress-bar .progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	font-size: .8em;
	color: #555;
	height: 18px;
}