.sbp-settings .declutter-head .csf-fieldset-content > .csf-field {padding:10px;}
.sbp-settings .csf-field-spinner .csf--unit {padding:0 10px;}
.sbp-settings .text-input-before, .sbp-settings .text-input-after {line-height:2;}
.sbp-settings .csf-field-group .csf-cloneable-header-icon {vertical-align:middle;}
.sbp-settings input.disabled, .sbp-settings input:disabled {background:#FFF;border:1px solid #7e8993;color:inherit;box-shadow:0 0 0 transparent;}
.sbp-settings .ui-spinner .ui-button {min-height:30px;box-shadow:none;}
.sbp-settings .inactive-section > div {opacity:.7;filter:grayscale(1) blur(0.05px); pointer-events: none;}
.sbp-settings .inactive-section .hosting-warning {opacity:1;filter:none;}

.sbp-settings .cdn-url .csf-before-text, .sbp-settings .cdn-url .csf-after-text {display:inline-block;line-height:2;font-family:monospace;}
.sbp-settings .cdn-url input {font-family:monospace;}
.sbp-settings .preboost .csf-fieldset-content>.csf-field {padding:15px 0;}
.sbp-settings .preboost .csf-fieldset-content>:first-child {padding-top:0;}
.sbp-settings .preboost .csf-fieldset-content {border:0;box-shadow:none;}

.sbp-settings .csf-field-code_editor .CodeMirror {height:190px;}
.sbp-settings .csf-desc-text {color:#777;}
.sbp-settings .csf-section.dashboard ul, .sbp-settings .csf-section.about ul {list-style:disc inside;}
.sbp-settings .csf-section.dashboard .csf-field-content {padding:1rem 2rem;}
.sbp-settings .csf-section.dashboard .csf-field+.csf-field {border:0;}

/*.sbp-settings .csf-section.dashboard .csf-field-heading, .sbp-settings .csf-section.dashboard .csf-field-subheading {background:#F7F7F7;}
.sbp-settings .csf-field-heading, .sbp-settings .csf-field-subheading {background:#FFF;}
*/

.sbp-settings {max-width:75rem;}

.sbp-cloudflare-info-text {display: none; margin-left: 15px;}

.with-preloader {position: relative; filter:grayscale(1) blur(0.5px); display: none;}
.with-preloader:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .1);
}
.with-preloader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 5px solid grey;
    border-top-color: black;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}

.sbp-cloudflare-test {
    position: relative;
}

.sbp-cloudflare-fetching {
    padding-left: 15px;
    color: orange;
    margin-top: 3px;
    display: inline-block;
}

.sbp-cloudflare-spinner {
    display: inline-block;
    width: 15px;
}

.sbp-cloudflare-spinner:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -4px;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    border: 3px solid #cbdfe8;
    border-top-color: #6aacc8;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.warmup-cache-error-list {
    display: none;
}

.sbp-notice:hover .warmup-cache-error-list {
    display: block;
}