.sbp-settings .declutter-head .csf-fieldset-content > .csf-field {padding:10px;}
.sbp-settings .csf-field-spinner .csf--unit {padding:0 10px;}
.sbp-settings .text-input-before, .sbp-settings .text-input-after {line-height:2;}
.sbp-settings .csf-field-group .csf-cloneable-header-icon {vertical-align:middle;}
.sbp-settings input.disabled, .sbp-settings input:disabled {background:#FFF;border:1px solid #7e8993;color:inherit;box-shadow:0 0 0 transparent;}
.sbp-settings .ui-spinner .ui-button {min-height:30px;box-shadow:none;}
.sbp-settings .inactive-section > div {opacity:.7;filter:grayscale(1) blur(0.05px); pointer-events: none;}
.sbp-settings .inactive-section .kinsta-warning {opacity:1;filter:none;}

.sbp-settings .cdn-url .csf-before-text, .sbp-settings .cdn-url .csf-after-text {display:inline-block;line-height:2;font-family:monospace;}
.sbp-settings .cdn-url input {font-family:monospace;}
.sbp-settings .preboost .csf-fieldset-content>.csf-field {padding:15px 0;}
.sbp-settings .preboost .csf-fieldset-content>:first-child {padding-top:0;}
.sbp-settings .preboost .csf-fieldset-content {border:0;box-shadow:none;}

.sbp-settings .csf-field-code_editor .CodeMirror {height:190px;}
.sbp-settings .csf-desc-text {color:#777;}
.sbp-settings .csf-section.dashboard ul, .sbp-settings .csf-section.about ul {list-style:disc inside;}
.sbp-settings .csf-section.dashboard .csf-field-content {padding:1rem 2rem;}
.sbp-settings .csf-section.dashboard .csf-field+.csf-field {border:0;}

/*.sbp-settings .csf-section.dashboard .csf-field-heading, .sbp-settings .csf-section.dashboard .csf-field-subheading {background:#F7F7F7;}
.sbp-settings .csf-field-heading, .sbp-settings .csf-field-subheading {background:#FFF;}
*/

.sbp-settings {max-width:75rem;}